{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %} | Wallet{% endblock %}

{% block content %}
  <h1>Withdraw from wallet {{ wallet.id }} ({{ wallet.currency.name }})</h1>
  <h2>Balance: {{ wallet.balance_display }}</h2>

  {% include 'includes/form_errors.html' %}

  <form method="post" action="{% url 'trading:wallet-withdraw' pk=wallet.pk %}">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Withdraw" class="btn btn-dark" />
    <input type="hidden" name="next" value="{% url 'trading:wallet' %}" />
    <a href="{% url 'trading:wallet' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
